.raining .MusicBox {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    color: rgba(80, 200, 255, 0.9)
}

.click {
    cursor: pointer;
}

.raining .throw-outside {
    position: fixed;
    bottom: 0;
    left: 0;
}
